*
{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

header
{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	padding 0 20px;
	background: beige;
	align-items: center;
	height: 70px;
}

.logo 
{
	margin-left: 20px;
	font-size: 16pt;
	font-weight: bold;
}

header nav ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav li
{
	padding: 22px;
	height: 100%;
	justify-content: space-evenly;
	font-size: 16pt;
	font-weight: bold;
	background: red;
}

header nav li a
{
	color: black;
	text-decoration: none;
}
