*
{
    margin: 0;
    padding: 0
}

body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container 
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo 
{
    width: 150px;
    height: auto;
    font-size: 16px;
    font-weight: bold;
}

nav ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li 
{
    display: inline-block;
}

nav ul li:first-child 
{
    margin-left: 0;
}

nav ul li a 
{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
    transition: all 0.3s ease;
    padding: 20px 10px;
}

nav ul li a:hover 
{
    background: beige;
}

.hero 
{
    background-image: url(images/capitol_night.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    height: 24em;
}

.hero .container
{
    position: relative;
    align-items: center;
    height: 100%;
}

.hero h1 
{
    font-size: 36px;
    border-radius: 2px;
    color: beige;
    width: 25%;
    text-align: left;
    padding: 0.5em;
}

.hero .container .btn 
{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(100, 100, 100, 0.8);
    color: beige;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.featured-posts 
{
    padding: 50px 0;
    background-color: #f8f9fa;
    text-align: center;
}

.featured-posts h2 
{
    font-size: 28px;
    margin-bottom: 30px;
}

.featured-posts .post 
{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 10em;
    margin: 0 5em;
}

.featured-posts .post h3 
{
    font-size: 24px;
    margin-bottom: 10px;
}

.featured-posts .post p 
{
    font-size: 16px;
    margin-bottom: 20px;
}

.featured-posts .post .btn 
{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.featured-posts .post .btn:hover 
{
    background-color: #0056b3;
}

.about-section 
{
    padding: 50px 0;
    text-align: center;
}

.about-section h2 
{
    font-size: 28px;
    margin-bottom: 30px;
}

.overview 
{
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.overview h3 
{
    font-size: 24px;
    margin-bottom: 15px;
}

.overview p 
{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}