{% extends "base.html" %} {% block title %}Forum{% endblock %}
{% block content %}
<div class="createpost-form container-fluid">
    <form method="POST">
        <h2 algin="center">Create a post</h2>
        <div class="form-group">
            <input 
                type="text" 
                name="title" 
                id="title" 
                class="form-control" 
                placeholder="Title"
            />
        </div>
        <div class="form-group">
            <textarea 
                type="text"
                name="description" 
                id="description" 
                cols="30" 
                rows="10"
                class="form-control"
                placeholder="Write a brief description here"
            ></textarea>
        </div>
        <div class="form-group">
            <select name="jurisdiction" id="jurisdiction" class="form-select">
                <option value="federal">Federal</option>
                <option value="alabama">Alabama</option>
                <option value="alaska">Alaska</option>
                <option value="arizona">Arizona</option>
                <option value="arkansas">Arkansas</option>
                <option value="california">California</option>
                <option value="colorado">Colorado</option>
                <option value="connecticut">Connecticut</option>
                <option value="delaware">Delaware</option>
                <option value="florida">Florida</option>
                <option value="georgia">Georgia</option>
                <option value="hawaii">Hawaii</option>
                <option value="idaho">Idaho</option>
                <option value="illinois">Illinois</option>
                <option value="indiana">Indiana</option>
                <option value="iowa">Iowa</option>
                <option value="kansas">Kansas</option>
                <option value="kentucky">Kentucky</option>
                <option value="louisiana">Louisiana</option>
                <option value="maine">Maine</option>
                <option value="maryland">Maryland</option>
                <option value="massachusetts">Massachusetts</option>
                <option value="michigan">Michigan</option>
                <option value="minnesota">Minnesota</option>
                <option value="mississippi">Mississippi</option>
                <option value="missouri">Missouri</option>
                <option value="montana">Montana</option>
                <option value="nebraska">Nebraska</option>
                <option value="nevada">Nevada</option>
                <option value="new_hampshire">New Hampshire</option>
                <option value="new_jersey">New Jersey</option>
                <option value="new_mexico">New Mexico</option>
                <option value="new_york">New York</option>
                <option value="north_carolina">North Carolina</option>
                <option value="north_dakota">North Dakota</option>
                <option value="ohio">Ohio</option>
                <option value="oklahoma">Oklahoma</option>
                <option value="oregon">Oregon</option>
                <option value="pennsylvania">Pennsylvania</option>
                <option value="rhode_island">Rhode Island</option>
                <option value="south_carolina">South Carolina</option>
                <option value="south_dakota">South Dakota</option>
                <option value="tennessee">Tennessee</option>
                <option value="texas">Texas</option>
                <option value="utah">Utah</option>
                <option value="vermont">Vermont</option>
                <option value="virginia">Virginia</option>
                <option value="washington">Washington</option>
                <option value="west_virginia">West Virginia</option>
                <option value="wisconsin">Wisconsin</option>
                <option value="wyoming">Wyoming</option>
                <option value="puerto_rico">Puerto Rico</option>
                <option value="guam">Guam</option>
                <option value="american_samoa">American Samoa</option>
                <option value="us_virgin_islands">US Virgin Islands</option>
                <option value="northern_mariana_islands">Northern Mariana Islands</option>
                <option value="other">Other</option>
            </select>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}