{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Let's Repeal Outdated Laws.</h1>
        <p>Welcome to the Law Repeal Forum, where individuals unite to challenge outdated laws and drive legal reform.</p>
    </div>
</section>
<section class="featured-posts">
    <h2>Featured Posts</h2>
    <div class="post-cards">
        <div class="card" style="width: 18rem;">
            <img src="../static/images/generic_image.jpeg" class="card-img-top" alt="Thumbnail">
            <div class="card-body">
                <h5>Post Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../static/images/generic_image.jpeg" class="card-img-top" alt="Thumbnail">
            <div class="card-body">
                <h5>Post Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../static/images/generic_image.jpeg" class="card-img-top" alt="Thumbnail">
            <div class="card-body">
                <h5>Post Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../static/images/generic_image.jpeg" class="card-img-top" alt="Thumbnail">
            <div class="card-body">
                <h5>Post Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
</section>
<section class="mission">
    <h2>Our Mission</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi.</p>
</section>
{% endblock %}