{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Let's Repeal Outdated Laws.</h1>
        <p>Welcome to the Law Repeal Forum, where individuals unite to challenge outdated laws and drive legal reform.</p>
    </div>
</section>
<section class="featured-posts">
    <h2>Featured Posts</h2>
    <div class="post-cards">
        <div class="post">
            <img src="../static/images/generic_image.jpeg" alt="Thumbnail for post" class="thumbnail">
            <div class="post-info">
                <h3>Title of post</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
        <div class="post">
            <img src="../static/images/generic_image.jpeg" alt="Thumbnail for post" class="thumbnail">
            <div class="post-info">
                <h3>Title of post</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
        <div class="post">
            <img src="../static/images/generic_image.jpeg" alt="Thumbnail for post" class="thumbnail">
            <div class="post-info">
                <h3>Title of post</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
        <div class="post">
            <img src="../static/images/generic_image.jpeg" alt="Thumbnail for post" class="thumbnail">
            <div class="post-info">
                <h3>Title of post</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </div>
</section>
<section class="mission">
    <h2>Our Mission</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla purus. Nulla facilisi.</p>
</section>
{% endblock %}