*
{
    margin: 0;
    padding: 0;
}

header
{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	background: black;
	align-items: center;
	height: 70px;
}

.logo 
{
	margin-left: 20px;
	font-size: 16pt;
	font-weight: bold;
    color: white;
}

header nav ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav li
{
	padding: 22px;
	justify-content: space-evenly;
	font-size: 16pt;
	font-weight: bold;
	background: transparent;
    transition: all 0.3s ease;
}

header nav li:hover
{
    background: rgba(255, 255, 255, 0.1);
}

header nav li a
{
	color: white;
	text-decoration: none;
}

.container-fluid
{
    padding-left: 0;
    padding-right: 0;
}

.hero
{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: black;
    background-image: url(images/capitol_night.jpeg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 40em;
    padding: 0;
}

.hero .hero-text
{
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .hero-text h1
{
    margin: 10px 0;
    font-size: 36pt;
    width: clamp(10em, 70%, 30em);
}

.hero .hero-text p
{
    margin: 10px 0;
    font-size: 16pt;
    width: clamp(20em, 70%, 30em);
}

.featured-posts
{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.featured-posts h2
{
    margin: 30px 0 0 0;
    font-size: 24pt;
}

.featured-posts .post-cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}

.post-cards .post
{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 16em;
    height: 24em;
}

.post .thumbnail
{
    flex: 1;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post .post-info
{
    padding: 20px;
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post .post-info h3
{
    font-size: 16pt;
    margin-bottom: 10px;
}

.post-info p 
{
    font-size: 12pt;
    flex: 1;
    margin-bottom: 20px;
}

.post .post-info a
{
    align-self: center;
}

.post .btn
{
    align-self: flex-end; /* Align button to the end of the container */
    padding: 8px 16px;
    background-color: rgba(214, 212, 157, 0.7);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.post  .btn:hover
{
    background-color: rgba(214, 212, 157, 1);
}

.login-form,
.signup-form,
.createpost-form
{
    width: clamp(20rem, 40vw, 30rem);  
    display: flex;
    flex-direction: column;
    border: #cccccc;
    border-width: 5px;
    margin-top: 65px;
}

.login-form h2,
.signup-form h2,
.createpost-form h2
{
    align-self: center;
    text-align: center;
    margin-bottom: 50px;
}
/*
.signup-form ul
{
    margin-top: 0;
    padding-top: 0;
}

.signup-form li
{
    font-size: 10pt;
    color: rgb(80, 80, 80);
}